.mainDiv{
    display:flex;
    justify-content:left;
    align-items: left;
}

.example-card {
    max-width: 400px;
    max-height:400px;
    overflow-y:scroll;
    margin-top: 5%;
  }

.coin-img{
    max-height:30%;
}

 
