.mainDiv{
    display:flex;
    justify-content:center;
    align-items: center;
}

.example-card {
    max-width: 400px;
  }

.coin-img{
    max-height:30%;
}

 
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  