<mat-toolbar>
  <span>Coin Info Page</span>
</mat-toolbar>


<div class="mainDiv" *ngIf="!noCoin">
  
  
  <mat-card class="example-card">

    <mat-card-title-group>
     
      <mat-card-title>{{responseObj.name}}</mat-card-title>
      <mat-card-subtitle>Rank :{{responseObj.coingecko_rank}}</mat-card-subtitle>
      <img mat-card-md-image src={{responseObj.image?.large}} alt="Photo of a Shiba Inu" class="coin_img">
    </mat-card-title-group>
    
    <mat-card-content>
      <div [innerHTML]="aboutCoin">
   
      </div>
    </mat-card-content>
   
  </mat-card>
 </div>
<div *ngIf="noCoin"><h1>No coin Found</h1></div>
